{% include "navigation.html" %}
{% block content %}
  <form method="post" style="position: fixed; left: 50%; margin-left: -190px;margin-top: 80px">
    <h1 style="color: white">Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button><a href="/registration">Need to register?</a>
  </form>
{% endblock %}