:root {
    --main-font-color: white;
    --main-font-family: "Courier New";
    --main-video-controls-color: white;
    --main-controls-color: white;
    --main-controls-hover-color: white;
}

/*
index.html
*/
#root-wrapper{
    display: flex;
    flex-direction: row;
}

#index-text{
    margin: 0 auto;
}


#index-text h1,p{
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

#index-text h4{
    text-align: center;
    color: var(--main-font-color);
}

#index-text #get-started{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
scoreboard.html
 */

#scoreboard-container{
    float: right;
}

#scoreboard-container button{
    background-color: #454d54;
    border: none;
}

#scoreboard-container #player-overview{
    cursor: pointer;
    padding: 1em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    background-color: #454d54;
}

#scoreboard-container #player-overview * {
    color: ghostwhite;
}

#scoreboard h1{
    padding: 1em;
}

#scoreboard table{
    width: 100%;
    border-collapse: collapse;
}

#scoreboard td, th {
  text-align: left;
  padding: 1em;
}

#scoreboard tr:nth-child(even) {
      background-color: #454d54;
}

#scoreboard tr:not(:first-child):hover{
    cursor: pointer;
    background-color: #22262a;
}

#scoreboard * {
    color: var(--main-font-color);
}

#high_scores h1{
    padding: 1em;
}

#high_scores table{
    width: 100%;
    border-collapse: collapse;
}

#high_scores td, th {
  text-align: left;
  padding: 1em;
}

#high_scores tr:nth-child(even) {
      background-color: #454d54;
}

#high_scores tr:not(:first-child):hover{
    cursor: pointer;
    background-color: #22262a;
}

#high_scores * {
    color: var(--main-font-color);
}

/*
 game.html
 */
#timer{
    text-align: center;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

body{
    /*background-image: url("tausta.jpg");*/
    background-color: #343a40;
    background-size: cover;
}

canvas:hover{
    cursor: pointer;
}

canvas{
    border-color: darkgray;
    border-radius: 2px;
    border-width: 3px;
    border-style: outset;
}

iframe{
    margin-left: auto;
    width: 100%;
    height: 800px;
}

#progress-container{
    background: repeating-linear-gradient(
      90deg,
      #454d54,
      #454d54 5%,
      rgba(41, 42, 42, 0.34) 5%,
      rgba(41, 42, 42, 0.34) 10%
    );
    width: 100%;
    height: 20px;
    margin-top: -2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#progress-container span{
    position: relative;
    left: 45%;
    width: 0px;
    font-family: var(--main-font-family);
    color: var(--main-font-color);
}

#progress-container #correct{
    background: green;
    border-style: double;
    width: 5%;
    height: 20px;
}

#progress-container #incorrect{
    background-color: red;
    border-style: double;
    width: 5%;
    height: 20px;
}

#volume-button{
    cursor: pointer;
}

#question-root-container{
    height: 5em;
}

#question-container{
    text-align: center;
    font-size: 2.6em;
    color: white;
}

#question-container *{
    font-size: 40px;
}

#question-container #button-refresh{
    cursor: pointer;
}


#video-labels-container {
    margin: 0 auto;
}

#suggestion {
    position: absolute;
    display: inline-block;
}

#label-form *:hover{
    opacity: 1;
}

#game-ended-statistics{
    color: white;
    position: fixed;
    left: 50%;
    margin-left: -320px;
    margin-top: 50px;
}

#game-ended-statistics #play-again{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

/*
manage_tasks.html
 */

#manage-tasks-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#manage-tasks-container #delete, #submit {
    margin-top: 0.5em;
    margin-left: 0.3em;
}

#manage-tasks-container #create {
    margin-top: 0.5em;
}

#manage-tasks-container #set-end, #set-start {
    margin-left: 0.2em;
    margin-top: -0.25em;
}

#manage-tasks-container #start-time, #end-time{
    width: 125px;
}

.noUi-handle{
    cursor: pointer;
    background-color: white;
    width: 10px;
}

.noUi-connect{
    background: repeating-linear-gradient(-45deg, #3875d7, #3875d7 1px, transparent 5px, transparent 20px);
}

/* Slider settings*/
.noUi-tooltip {
    display: none;
}
/* Show only when dragging */
.noUi-active .noUi-tooltip {
    display: block;
    max-width: inherit;
}


.noUi-target {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    width: 100%;
    cursor: pointer;
}

.noUi-handle-lower {
    color: #3FB8AF;
}

video {
    object-fit: fill;
    width: 640px;
    height: 480px;
}


video:hover {
    cursor: pointer;
}

#preview-label-videoPlayer{
    margin: auto;
    padding-top: 20px;
    display: block;
}

#mute-unmute{
    cursor: pointer;
    margin-left: 5px;
}

#speed-multiplier{
    cursor: pointer;
}

#play-pause{
    cursor: pointer;
    margin-left: 0.05em;
    margin-top: -0.33em;
    margin-right: 0.09em;
}

#video-container {
    display: inline-block;
}

#video-controls {
    opacity: 0.5;
    position: relative;
    bottom: 40px;
    margin-left: 2px;
    margin-top: 2.95em;
    display: flex;
}

/*
Verify.html
 */

#video-controls #speed-multiplier{
    background: transparent;
    border: none;
    font-size: 22px;
    color: var(--main-video-controls-color);

}

#video-controls #custom-seekbar
{
    height: 14px;
    margin-right: 3px;
    outline: thin solid black;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#video-controls #custom-seekbar span
{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 0;
}

#video-controls #play-pause, #mute-unmute{
    color: var(--main-video-controls-color);
}

#vote-container #yes, #no {
    color: var(--main-controls-color);
}

#vote-container #yes:hover, #no:hover{
    color: var(--main-controls-hover-color);
    cursor: pointer;
}

#remove-button {
    position: absolute;
    margin-top: 1px;
    color: var(--main-controls-color);
    opacity: 0.6;
    font-size: 1.6em;
    cursor: pointer;
}

#remove-button:hover{
    opacity: 1;
}

#add-right-button, #add-left-button {
    color: var(--main-controls-color);
    opacity: 0.6;
    cursor: pointer;
}

#add-right-button:hover, #add-left-button:hover{
    color: var(--main-controls-hover-color);
    opacity: 1;
}

#sliderContainer {
    margin-top: -32px;
    width: 100%
}

#sliderContainer #custom-seekbar
{
    height: 14px;
    margin-top: -15px;
    outline: thin solid black;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#sliderContainer #custom-seekbar span
{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 0;
}

#labels-container {
    width: inherit;
    display: flex;
    flex-direction: column;
}

#labels-container input{
    width: inherit;
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    border: 1px solid #ccc;
}

#labels-container input:hover{
    background-color: rgba(255,255,255,1);
}

#label-container {
    text-align: center;
}

#labeler-buttons {
    margin-top: 10px;
}

#labeler-buttons #createLabel, #postLabels {
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
    border: None;
}

#labeler-buttons #createLabel:hover, #postLabels:hover{
    background-color: rgba(255,255,255,0.9);
    cursor: pointer;
}


#vote-container{
    text-align: center;
}

#vote-container #yes{
    margin-left: 10px;
}

#vote-container #no{
    margin-left: 20px;
}

#slider-child-container{
    display: flex;
}

/*
preview.html
 */

#preview-container{
    display: flex;
    flex-direction: row;
}

#preview-list{
    display: inline-flex;
}

.list-group-item{
    cursor: pointer;
}

#myChart{
    width: 640px !important;
    height: 480px !important;
}

/*
GENERAL SNACKBAR USED WITH TOAST
Taken from: https://www.w3schools.com/howto/howto_js_snackbar.asp
 */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/*
Login.html
*/
.errorlist li{
  color: var(--main-font-color);
}
