<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Memory Game</title>
    <script src="{% static 'labeler/ext/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'labeler/game.js' %}"> </script>
    <script src="{% static 'labeler/canvas.js' %}"> </script>
    <script src="{% static 'labeler/scoreboard.js' %}"> </script>
    <link rel="shortcut icon" type="image/png" href="{% static 'labeler/favicon.ico' %}"/>
</head>
<body>
{% include "navigation.html" %}
<div id="root-wrapper">
<div id="video-labels-container">
    <div id="question-root-container">
        <div id="question-container"></div>
    </div>
    <div id="video-container">
        <canvas id="canvas"></canvas>
    </div>
    <div id="video-controls">
        <div class="fas fa-pause-circle fa-2x" id="play-pause"></div>
        <div id="custom-seekbar"><span></span></div>
    </div>
    <div id="progress-container"><span>Progress</span></div>

    <p style="text-align: center; margin-top: 4em"><i class="fas fa-volume-up" id="volume-button"></i><br><b>Space</b> to pause<br> <b>Esc</b> to cancel drawing</p>
</div>
<div id="game-ended-statistics" style="display: none">
    <div id="placeholder"></div>
<button type="button" id="play-again" class="btn btn-secondary btn-lg"
 onclick="location.href='/play';">Play again</button>
<button type="button" id="play-again" class="btn btn-secondary btn-lg"
 onclick="location.href='/questionnaire';">Answer the questionnaire</button>
</div>
<div id="audio-container" style="display: none">
    <audio id="audio-correct">
        <source src="{{ MEDIA_URL }}audio/correct.wav">
    </audio>
    <audio id="audio-incorrect">
        <source src="{{ MEDIA_URL }}audio/bite.wav">
    </audio>
</div>
<div id="scoreboard-container">
    <button type="button" id="rankings_button" class="btn btn-sm btn-primary" disabled>Rankings</button>
    <button type="button" id="high_scores_button" class="btn btn-sm btn-primary">High scores</button>
    <table id="scoreboard">
        <tr>
            <th>rank</th>
            <th>user</th>
            <th>level</th>
        </tr>
    </table>
    <table id="high_scores" style="display: none">
        <tr>
            <th>rank</th>
            <th>user</th>
            <th>score</th>
        </tr>
    </table>
    <div id="player-overview" style="display: none">
        <h1 id="username"></h1>
        <h2 id="level"></h2>
        <h2 id="clicks"></h2>
        <h2 id="accuracy"></h2>
        <h2 id="credits"></h2>
    </div>
</div>
</div>
<div id="snackbar"></div>
</body>
</html>