<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <script src="{% static 'labeler/ext/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'labeler/index.js' %}"></script>
    <script src="{% static 'labeler/scoreboard.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'labeler/favicon.ico' %}"/>
</head>
<body>
{% include "navigation.html" %}
<div id="root-wrapper">
    <div id="index-text">
        <h4>Instructions</h4><br>
        <p>
            Click and drag a box that just covers object.<br>
            Try to make the box as accurate as possible.<br>
            Use <b>space to pause</b> the video and <b>Esc to cancel</b> the drawing process.<br>
            <br>
        </p>
        <img src="{% static 'labeler/img/good_example_human.png' %}" width="300" height="200">
        <img src="{% static 'labeler/img/good_example_left_hand.png' %}" width="300" height="200"><br>
        <img src="{% static 'labeler/img/bad_example_human.png' %}" width="300" height="200">
        <img src="{% static 'labeler/img/bad_example_left_hand.png' %}" width="300" height="200">
    <button type="button" id="get-started" class="btn btn-secondary btn-lg"
     onclick="location.href='/play';" style="margin-top: 20px">Get started</button>
    </div>
    <div id="scoreboard-container">
        <button type="button" id="rankings_button" class="btn btn-sm btn-primary" disabled>Rankings</button>
        <button type="button" id="high_scores_button" class="btn btn-sm btn-primary">High scores</button>
        <table id="scoreboard">
            <tr>
                <th>rank</th>
                <th>user</th>
                <th>level</th>
            </tr>
        </table>
        <table id="high_scores" style="display: none">
            <tr>
                <th>rank</th>
                <th>user</th>
                <th>score</th>
            </tr>
        </table>
        <div id="player-overview" style="display: none">
            <h1 id="username"></h1>
            <h2 id="level"></h2>
            <h2 id="clicks"></h2>
            <h2 id="accuracy"></h2>
            <h2 id="credits"></h2>
        </div>
    </div>
</div>
</body>
</html>
