<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Game</title>
    <script src="{% static 'labeler/ext/jquery-3.3.1.js' %}"></script>
    <link href="{% static 'labeler/ext/nouislider.min.css' %}" rel="stylesheet">
    <script src="{% static 'labeler/ext/nouislider.min.js' %}"></script>
    <script src="{% static 'labeler/ext/js.cookie.js' %}"> </script>
    <script src="{% static 'labeler/manage_tasks.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'labeler/favicon.ico' %}"/>
</head>
<body>
{% include "navigation.html" %}
<h3 style="color: antiquewhite">Making modifications on videos destroy all answers on the video.</h3>
<ul class="list-group" id="preview-list">
    {% for video in videos %}
        <li class="list-group-item" id="{{ video.id }}">>{{ video }}</li>
    {% endfor %}
</ul>
<div id="manage-tasks-container">
    <div id="video-labels-container" style="display: none">
        <div id="video-container">
            <video id="videoPlayer" controls autoplay muted>
                <p>Your browser does not support the video tag.</p>
            </video>
        </div>
    </div>
</div>
<div id="snackbar"></div>
<br><br>
</body>
</html>
