<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Remove cache line on developement  -->
    <meta http-equiv="cache-control" content="no-cache" />
    <meta charset="UTF-8">
    {% load static %}
    <script src="{% static 'labeler/ext/jquery-3.3.1.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <script src="{% static 'labeler/ext/js.cookie.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'labeler/style.css' %}">
</head>
<body>
{% csrf_token %}
<nav class="navbar navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="/index">Labeler</a>
        <a class="nav-link text-white" href="/play">Play</a>
        {% if request.user.is_authenticated %}
        <a class="nav-link text-white" href="/preview">Preview</a>
        {% endif %}
        {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a class="nav-link text-white" href="/api/manage/task">Manage Tasks</a>
                {% endif %}
                <a class="nav-link text-white" href="/logout">Logout</a>
        {% else %}
                <a class="nav-link text-white" href="/login">Login</a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div style="margin-left: auto;cursor: default">
            <i class="far fa-address-card"></i><b>{{ request.user.profile.level }}</b>
            <i class="far fa-money-bill-alt"></i><b>{{ request.user.profile.credits }}</b>
            <div class="progress">
              <div class="progress-bar progress-bar-striped"
                   role="progressbar" aria-valuenow="0"
                   aria-valuemin="0" aria-valuemax="100"
                   style="width: {{ request.user.profile.experience }}%">
                  <span style="color: black; margin-left: 25px">Level</span></div>
                <div class="progress progress-striped active"></div>
            </div>
            <div style="margin-left: 10px">
                <i class="fas fa-crosshairs"></i>
                <b>{{ request.user.profile.accuracy|floatformat:2 }}</b>
            </div>
        </div>
        {% else %}
            <div style="margin-left: auto"></div>
        {% endif %}
</nav>
</body>
</html>
