<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Preview</title>
    <script src="{% static 'labeler/ext/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'labeler/preview.js' %}"></script>
    <script src="{% static 'labeler/preview_video.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'labeler/favicon.ico' %}"/>
</head>
<body>
{% include "navigation.html" %}
<div id="preview-container">
    <ul class="list-group" id="preview-list">
        {% for video in videos %}
            <li class="list-group-item" id="{{ video.id }}">>{{ video }}</li>
        {% endfor %}
    </ul>
    <canvas id="myChart"></canvas>
    <button id="preview-video" style="display: none">Preview</button>
    <div id="video-container" style="display: none; margin-left: auto; margin-right: auto; margin-top: 1em">
        <canvas id="myVideo"></canvas>
        <div id="video-controls">
            <div class="fas fa-pause-circle fa-2x" id="play-pause"></div>
            <div id="custom-seekbar" style="cursor: pointer"><span></span></div>
        </div>
    </div>
</div>
</body>
</html>