<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
{% include "navigation.html" %}
<form action='/registration/' method='post' style="color: white; position: fixed; left: 50%;margin-left: -600px;margin-top: 100px">
    {% csrf_token %}
	{{ context }}
	<input type="submit" value="Create user" />
</form>
</body>
</html>